---
import BasicLayout from "../layouts/basicLayout.astro";
import Hantel from "../images/hantel.png";
import WorkoutTable from "../components/WorkoutTable.vue";
---

<BasicLayout title="Beinbeuger" ImageSrc={Hantel} ImageAlt="Hantel" backLink="/montag">
  <h1>Beinbeuger</h1>
  <WorkoutTable workoutName="beinbeuger" client:load />
</BasicLayout>