---
import BasicLayout from "../layouts/basicLayout.astro";
import Hantel from "../images/hantel.png";
import WorkoutTable from "../components/WorkoutTable.vue";
---

<BasicLayout
  title="Bizeps Curls"
  ImageSrc={Hantel}
  ImageAlt="Hantel"
  backLink="/montag"
>
  <h1>Bizeps Curls</h1>
  <WorkoutTable workoutName="bizeps" client:load />
</BasicLayout>
