---
import BasicLayout from "../layouts/basicLayout.astro";
import Hantel from "../images/hantel.png";
---

<BasicLayout title="Trainingsplan" ImageSrc={Hantel} ImageAlt="Hantel">
  <h1>Trainings&shy;plan</h1>
  <a href="/montag">Montag</a>
  <a href="/mittwoch">Mittwoch</a>
  <a href="/freitag">Freitag</a>
  <a href="/gewicht" id="weight">K&ouml;rper&shy;gewicht</a>
</BasicLayout>
