---
import BasicLayout from "../layouts/basicLayout.astro";
import Hantel from "../images/hantel.png";
---

<BasicLayout title="Trainingsplan Mittwoch" ImageSrc={Hantel} ImageAlt="Hantel" backLink="/">
  <h1>Mittwoch</h1>
  <a href="/latzug">Latzug</a>
  <a href="/upperback">Upperback</a>
  <a href="/rudern">Rudern</a>
  <a href="/reverse-fly">Reverse Fly</a>
  <a href="/shoulderpress">Shoulderpress</a>
  <a href="/seitheben">Seitheben</a>
</BasicLayout>