---
import BasicLayout from "../layouts/basicLayout.astro";
import Hantel from "../images/hantel.png";
---

<BasicLayout title="Trainingsplan Montag" ImageSrc={Hantel} ImageAlt="Hantel" backLink="/">
  <h1>Montag</h1>
  <a href="/brustpresse">Brustpresse</a>
  <a href="/butterfly">Butterfly</a>
  <a href="/leg-extension">Leg Extension</a>
  <a href="/beinbeuger">Beinbeuger</a>
  <a href="/bizeps">Bizeps</a>
  <a href="/trizeps">Trizeps</a>
</BasicLayout>
